.majorContainer{
    height:100%;
    width:100%;
    border:none;
    border-radius: 14px;
    border-bottom-left-radius:0px ;
    border-bottom-right-radius:0px ;
    box-shadow: 1px 1px 7px 0px #8389c7ad;
    padding: 20px;
}
.header{
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-family: 'quicksand';
    margin: 0px;
    text-align: left;
}
.header input{
    width:40%;
    height:36px;
    padding: 0px 10px;
    border:none;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px #8389c7af;
    background-color: rgba(255, 255, 255, 0.685);
}

.List{
    height: calc(100% - 50px);
    margin-top: 30px;
    overflow: auto;
}
.majorCardContainer{
    height:120px;
    width:96%;
    border:none;
    border-radius: 14px;
    box-shadow: 1px 1px 6px 0px #8389c7af;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0px;
    margin: 14px auto;
}
.majorCardContainer:hover{
    cursor: pointer;
    transform:scale(1.01);
}
.nameLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height:100%;
}
.ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height:100%;
}
.image{
    margin:0px 20px;
    height: 70%;
}
.content{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}
.content h2{
    font-family: 'quicksand';
    margin: 0px;
    text-align: left;
}
.content h3{
    font-family: 'quicksand';
    margin: 0px;
    text-align: left;
}
.content h4{
    font-family: 'quicksand';
    margin: 3px;
}
.content p{
    margin: 0px;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
}

.contentRatings{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 10% 10px;
    width:150px
}
.contentRatings h2{
    font-family: 'quicksand';
    margin: 0px;
    text-align: left;
}
.contentRatings h4{
    font-family: 'quicksand';
    margin: 0px 5px;
}
.contentRatings p{
    margin: 2.56px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}

.carddesign{
    height: 70%;
    margin-right: -1px;
}

.arrow{
    position: static;
    font-size: 35px;
    margin-top: 15px;
    margin-left: 10px;
}


.showCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 3%;
    /* background-color: yellow; */
    width:100%;
    max-height:calc(600px - 75px);
    overflow: auto;
    gap:30px;
}
.bedCard{
    height: 100px;
    width: 115px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px #8389c7af;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    text-align: center;
}
.bedCard:hover{
    transform: scale(1.04);
}
.bedCard p{
    padding: 0px 3px;
    margin: 0px;
}
.bedCard h3{
    margin:0px;
}
.durationInput{
    width: 100%;
}
.durationInput form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px
}
.durationInput form input{
    width: 40%;
    height: 40px;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #AB98EE;
    padding: 10px 40px;
    height:70%;
    border-radius: 7px;
    font-weight: 600;
    border: none;
}