.majorContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:28px;
}

.majorContainer img{
    width:70%;
    padding: 10%;
}

.majorContainer img:hover{
    cursor: pointer;
    transform: scale(1.12);
}